body {
    box-sizing: border-box;
    background-color: #000;
    margin: 0;
}

.gallery__main {
    display: flex;
    align-items: center;
    border: 5px solid #003C5F;
    max-height: calc(100vh - 8rem - 20px);
    overflow: hidden;
}
.gallery__main img {
    width: 100%;
    min-height: calc(100vh - 8rem);
    object-fit: cover;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}

.gallery__grid__item {
    display: flex;
    align-items: center;
    border: 5px solid #003C5F;
    height: 8rem;
    overflow: hidden;
}

.gallery__grid__item img {
    width: 100%;
    min-height: 8rem;
    object-fit: cover;
}
